<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Codescandy" />

    <!-- Theme CSS-->
    <link rel="stylesheet" href="css/theme.min.css" />

    <title>Seu Perfil | Find Us - Digitalização de Negócios</title>
  </head>

  <header>
    <div class="navbar shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <img src="../images/logo.svg" class="dark-logo" alt="Logo FindUs" />
        </a>
      </div>
    </div>
  </header>

  <body style=" background-color: #f5f5f3;
        background-image: url(../assets/images/background/background.svg);
        background-repeat: repeat;
        background-size: contain;" >



    <main>
      <section class="pt-5 pb-5">
        <div class="container">
          <!-- Content -->
          <div class="row mt-0 mt-md-4">
            <!-- Card Left -->
            <div class="col-lg-3 col-md-4 col-12">
              <div class="col-12">
                <!-- Card -->
                <div class="card mb-4 card-hover">
                  <div class="bg-light pb-6 pt-6">
                    <div class="icon-shape icon-xxl position-relative card-img-top">
                      <span class="position-absolute">
                        <i class="bi bi-image fs-3 text-muted"></i> Alterar imagem</span>
                      <input class="form-control border-0 opacity-0" type="file"/>
                    </div>
                  </div>

                  <!-- Card body -->
                  <div class="card-body">

                    <!--<ul class="mb-3 list-inline d-flex justify-content-between">
                      <li class="list-inline-item">
                        <span class="badge bg-dark-soft">
                          <i class="fe fe-bookmark"></i>Outros</span>
                      </li>
                      <li class="list-inline-item">
                        <i class="fe fe-eye"> 0</i>
                      </li>
                    </ul>-->

                    <!--<div class="lh-1 mt-2 mb-2">
                      <span>
                        <i class="mdi mdi-star text-secondary me-n1"></i>
                        <i class="mdi mdi-star text-secondary me-n1"></i>
                        <i class="mdi mdi-star text-secondary me-n1"></i>
                        <i class="mdi mdi-star text-secondary me-n1"></i>
                        <i class="mdi mdi-star text-secondary"></i>
                      </span>
                      <span class="text-secondary">0.0</span>
                      <span class="fs-6 text-muted">(0)</span>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>

            <!-- Card Right -->
            <div class="col-lg-9 col-md-8 col-12">
              <!-- Dados do Projeto -->
              <div class="card mb-4">
                <!-- Card header -->
                <div class="card-header">
                  <h3 class="mb-0">Dados do Projeto</h3>
                  <p class="mb-0">
                    Cadastre os detalhes do seu projeto de portfólio. As
                    seguintes informações vão permitir que os clientes te
                    encontrem.
                  </p>
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <div>
                    <!-- Form -->
                    <form class="row">
                      <!-- Title -->
                      <div class="mb-3 col-12 col-md-12">
                        <label class="form-label" for="project-title">Título do projeto</label>
                        <input type="text" id="project-title" class="form-control" placeholder="Insira o nome do projeto" required />
                      </div>
                      <!-- Segment -->
                      <div class="mb-3 col-12 col-md-12">
                        <label class="form-label" for="segment">Segmento</label>
                        <select id="segment" aria-label="Segment select" class="form-select">
                          <option value="Alimentos e Bebidas" selected>
                            Alimentos e Bebidas
                          </option>
                          <option value="Arte e Decoração">
                            Arte e Decoração
                          </option>
                          <option value="Serviços">Serviços</option>
                          <option value="Eventos e Turismo">
                            Eventos e Turismo
                          </option>
                          <option value="Moda e Estética">
                            Moda e Estética
                          </option>
                          <option value="Tecnologia e Inovação">
                            Tecnologia e Inovação
                          </option>
                          <option value="Saúde">Saúde</option>
                          <option value="Conveniência e Presentes">
                            Conveniência e Presentes
                          </option>
                          <option value="Natureza e Pets">
                            Natureza e Pets
                          </option>
                          <option value="Automóveis">Automóveis</option>
                          <option value="Educação">Educação</option>
                          <option value="Construção e Reforma">
                            Construção e Reforma
                          </option>
                        </select>
                      </div>
                      <!-- Time -->
                      <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="time">Tempo de Trabalho</label>
                        <input type="number" id="time" class="form-control" placeholder="Em horas" required/>
                      </div>
                      <!-- Price -->
                      <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="birth">Orçamento do projeto</label>
                        <select id="price" aria-label="Price select" class="form-select">
                          <option value="Baixo">
                            Baixo (Menos de R$ 1.000)
                          </option>
                          <option value="Medio">
                            Médio (De R$ 1.000 a R$ 3.000)
                          </option>
                          <option value="Alto">
                            Alto (De R$ 3.000 a R$ 5.000)
                          </option>
                          <option value="Muito Alto">
                            Muito Alto (Acima de R$ 5.000)
                          </option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- Conteúdo do Projeto -->
              <div class="card mb-4">
                <!-- Card header -->
                <div class="card-header">
                  <h3 class="mb-0">Descreva o projeto</h3>
                  <input type="text" id="project-title" class="form-control" placeholder="Insira o nome do projeto" required/>
                </div>

              </div>

              <!-- Button -->
              <div class="col-12 d-flex justify-content-end gap-2">
                <button class="btn btn-secondary">Cancelar</button>
                <button class="btn btn-primary">Publicar</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

  </body>
</html>
