<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Codescandy" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Libs CSS
    <link href="../assets/libs/quill/dist/quill.snow.css" rel="stylesheet" />
    <link href="../assets/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/theme.min.css" />
    <link href="../assets/fonts/feather/feather.css" rel="stylesheet" />
    <link
      href="../assets/libs/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css"
    />
    <link
      href="../assets/libs/@mdi/font/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/libs/simplebar/dist/simplebar.min.css"
      rel="stylesheet"
    />-->

    <!-- Theme CSS
    <link rel="stylesheet" href="../assets/css/theme.min.css" />-->

    <title>Seu Perfil | Find Us - Digitalização de Negócios</title>
  </head>

  <body
    style="
      background-color: #f5f5f3;
      background-image: url(../assets/images/background/background.svg);
      background-repeat: repeat;
      background-size: contain;
    "
  >
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-default">
      <div class="container-fluid px-0">
        <a class="navbar-brand" href="./findus-home.html"
          ><img src="../assets/images/brand/logo/logo.svg" alt="" class=""
        /></a>
        <!-- Mobile view nav wrap -->
        <ul
          class="navbar-nav navbar-right-wrap ms-auto d-lg-none d-flex nav-top-wrap"
        >
          <!-- Notifications -->
          <li class="dropdown stopevent">
            <a
              class="btn btn-light btn-icon rounded-circle text-muted indicator indicator-success"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
            >
              <i class="fe fe-bell"> </i>
            </a>
            <div class="dropdown-menu dropdown-menu-end shadow">
              <div>
                <div
                  class="border-bottom px-3 pb-3 d-flex justify-content-between align-items-center"
                >
                  <span class="h5 mb-0">Notificações</span>
                  <a href="# " class="text-muted"
                    ><span class="align-middle"
                      ><i class="fe fe-settings me-1"></i></span
                  ></a>
                </div>
                <ul
                  class="list-group list-group-flush"
                  style="height: 300px"
                  data-simplebar
                >
                  <li class="list-group-item bg-light">
                    <div class="row">
                      <div class="col">
                        <a href="#" class="text-body">
                          <div class="d-flex">
                            <img
                              src="../assets/images/avatar/avatar-7.jpg"
                              alt=""
                              class="avatar-md rounded-circle"
                            />
                            <div class="ms-3">
                              <h5 class="fw-bold mb-1">Kristin Watson:</h5>
                              <p class="mb-3 text-body">
                                Respondeu a sua notificação!
                              </p>
                              <span class="fs-6 text-muted">
                                <span
                                  ><span
                                    class="fe fe-thumbs-up text-success me-1"
                                  ></span
                                  >2 horas atrás,</span
                                >
                                <span class="ms-1">14:19h</span>
                              </span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-auto text-center me-2">
                        <a
                          href="#"
                          class="badge-dot bg-info"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Mark as read"
                        >
                        </a>
                        <div>
                          <a
                            href="#"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Remove"
                          >
                            <i class="fe fe-x text-muted"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col">
                        <a href="#" class="text-body">
                          <div class="d-flex">
                            <img
                              src="../assets/images/avatar/avatar-2.jpg"
                              alt=""
                              class="avatar-md rounded-circle"
                            />
                            <div class="ms-3">
                              <h5 class="fw-bold mb-1">Brooklyn Simmons</h5>
                              <p class="mb-3 text-body">
                                Just launched a new Courses React for Beginner.
                              </p>
                              <span class="fs-6 text-muted">
                                <span
                                  ><span
                                    class="fe fe-thumbs-up text-success me-1"
                                  ></span
                                  >Oct 9,</span
                                >
                                <span class="ms-1">1:20 PM</span>
                              </span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-auto text-center me-2">
                        <a
                          href="#"
                          class="badge-dot bg-secondary"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Mark as unread"
                        >
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col">
                        <a href="#" class="text-body">
                          <div class="d-flex">
                            <img
                              src="../assets/images/avatar/avatar-3.jpg"
                              alt=""
                              class="avatar-md rounded-circle"
                            />
                            <div class="ms-3">
                              <h5 class="fw-bold mb-1">Jenny Wilson</h5>
                              <p class="mb-3 text-body">
                                Krisitn Watsan like your comment on course
                                Javascript Introduction!
                              </p>
                              <span class="fs-6 text-muted">
                                <span
                                  ><span
                                    class="fe fe-thumbs-up text-info me-1"
                                  ></span
                                  >Oct 9,</span
                                >
                                <span class="ms-1">1:56 PM</span>
                              </span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-auto text-center me-2">
                        <a
                          href="#"
                          class="badge-dot bg-secondary"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Mark as unread"
                        >
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col">
                        <a href="#" class="text-body">
                          <div class="d-flex">
                            <img
                              src="../assets/images/avatar/avatar-4.jpg"
                              alt=""
                              class="avatar-md rounded-circle"
                            />
                            <div class="ms-3">
                              <h5 class="fw-bold mb-1">Sina Ray</h5>
                              <p class="mb-3 text-body">
                                You earn new certificate for complete the
                                Javascript Beginner course.
                              </p>
                              <span class="fs-6 text-muted">
                                <span
                                  ><span
                                    class="fe fe-award text-warning me-1"
                                  ></span
                                  >Oct 9,</span
                                >
                                <span class="ms-1">1:56 PM</span>
                              </span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-auto text-center me-2">
                        <a
                          href="#"
                          class="badge-dot bg-secondary"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Mark as unread"
                        >
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="border-top px-3 pt-3 pb-0">
                  <a
                    href="../pages/notification-history.html"
                    class="text-link fw-semi-bold"
                    >Ver todas notificações</a
                  >
                </div>
              </div>
            </div>
          </li>

          <!-- Avatar -->
          <li class="dropdown ms-2">
            <a
              class="rounded-circle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
            >
              <div class="avatar avatar-md avatar-indicators avatar-online">
                <img
                  alt="avatar"
                  src="../assets/images/avatar/avatar-7.jpg"
                  class="rounded-circle"
                />
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end shadow">
              <div class="dropdown-item">
                <div class="d-flex">
                  <div class="avatar avatar-md avatar-indicators avatar-online">
                    <img
                      alt="avatar"
                      src="../assets/images/avatar/avatar-7.jpg"
                      class="rounded-circle"
                    />
                  </div>
                  <div class="ms-3 lh-1">
                    <h5 class="mb-1">Luísa Almeida</h5>
                    <p class="mb-0 text-muted">natural.art@gmail.com</p>
                  </div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item" href="../pages/profile-edit.html">
                    <i class="fe fe-user me-2"></i>Perfil
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fe fe-settings me-2"></i>Configurações
                  </a>
                </li>
              </ul>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item" href="../index.html">
                    <i class="fe fe-power me-2"></i>Sair
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

        <!-- Button -->
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-default"
          aria-controls="navbar-default"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar top-bar mt-0"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbar-default">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="" class="nav-link">Descubra</a>
            </li>

            <li class="nav-item">
              <a href="" class="nav-link">Perfil</a>
            </li>

            <li class="nav-item">
              <a href="" class="nav-link">Sobre Nós</a>
            </li>
          </ul>
          <div class="ms-auto d-flex align-items-center">
            <form class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center">
              <span class="position-absolute ps-3 search-icon">
                <i class="fe fe-search"></i>
              </span>
              <input
                type="search"
                class="form-control ps-6"
                placeholder="Pesquisar"
              />
            </form>

            <ul class="navbar-nav navbar-right-wrap ms-2 d-none d-lg-block">
              <li class="dropdown d-inline-block stopevent">
                <a
                  class="btn btn-light btn-icon rounded-circle text-muted indicator indicator-success"
                  href="#"
                  role="button"
                  id="dropdownNotificationSecond"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fe fe-bell"> </i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end dropdown-menu-lg"
                  aria-labelledby="dropdownNotificationSecond"
                >
                  <div>
                    <div
                      class="border-bottom px-3 pb-3 d-flex justify-content-between align-items-center"
                    >
                      <span class="h5 mb-0">Notificações</span>
                      <a href="# " class="text-muted"
                        ><span class="align-middle"
                          ><i class="fe fe-settings me-1"></i></span
                      ></a>
                    </div>
                    <ul
                      class="list-group list-group-flush"
                      style="height: 300px"
                      data-simplebar
                    >
                      <li class="list-group-item bg-light">
                        <div class="row">
                          <div class="col">
                            <a class="text-body" href="#">
                              <div class="d-flex">
                                <img
                                  src="../assets/images/avatar/avatar-1.jpg"
                                  alt=""
                                  class="avatar-md rounded-circle"
                                />
                                <div class="ms-3">
                                  <h5 class="fw-bold mb-1">Kristin Watson:</h5>
                                  <p class="mb-3 text-body">
                                    Respondeu a sua notificação!
                                  </p>
                                  <span class="fs-6 text-muted">
                                    <span
                                      ><span
                                        class="fe fe-thumbs-up text-success me-1"
                                      ></span
                                      >2 horas atrás,</span
                                    >
                                    <span class="ms-1">14:19h</span>
                                  </span>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-auto text-center me-2">
                            <a
                              href="#"
                              class="badge-dot bg-info"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Mark as read"
                            >
                            </a>
                            <div>
                              <a
                                href="#"
                                class="bg-transparent"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Remove"
                              >
                                <i class="fe fe-x text-muted"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col">
                            <a class="text-body" href="#">
                              <div class="d-flex">
                                <img
                                  src="../assets/images/avatar/avatar-2.jpg"
                                  alt=""
                                  class="avatar-md rounded-circle"
                                />
                                <div class="ms-3">
                                  <h5 class="fw-bold mb-1">Brooklyn Simmons</h5>
                                  <p class="mb-3 text-body">
                                    Respondeu a sua notificação!
                                  </p>
                                  <span class="fs-6 text-muted">
                                    <span
                                      ><span
                                        class="fe fe-thumbs-up text-success me-1"
                                      ></span
                                      >Out 9,</span
                                    >
                                    <span class="ms-1">13:20h</span>
                                  </span>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-auto text-center me-2">
                            <a
                              href="#"
                              class="badge-dot bg-secondary"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Mark as unread"
                            >
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col">
                            <a class="text-body" href="#">
                              <div class="d-flex">
                                <img
                                  src="../assets/images/avatar/avatar-3.jpg"
                                  alt=""
                                  class="avatar-md rounded-circle"
                                />
                                <div class="ms-3">
                                  <h5 class="fw-bold mb-1">Jenny Wilson</h5>
                                  <p class="mb-3 text-body">
                                    Krisitn Watsan like your comment on course
                                    Javascript Introduction!
                                  </p>
                                  <span class="fs-6 text-muted">
                                    <span
                                      ><span
                                        class="fe fe-thumbs-up text-info me-1"
                                      ></span
                                      >Oct 9,</span
                                    >
                                    <span class="ms-1">1:56 PM</span>
                                  </span>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-auto text-center me-2">
                            <a
                              href="#"
                              class="badge-dot bg-secondary"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Mark as unread"
                            >
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col">
                            <a class="text-body" href="#">
                              <div class="d-flex">
                                <img
                                  src="../assets/images/avatar/avatar-4.jpg"
                                  alt=""
                                  class="avatar-md rounded-circle"
                                />
                                <div class="ms-3">
                                  <h5 class="fw-bold mb-1">Sina Ray</h5>
                                  <p class="mb-3 text-body">
                                    You earn new certificate for complete the
                                    Javascript Beginner course.
                                  </p>
                                  <span class="fs-6 text-muted">
                                    <span
                                      ><span
                                        class="fe fe-award text-warning me-1"
                                      ></span
                                      >Oct 9,</span
                                    >
                                    <span class="ms-1">1:56 PM</span>
                                  </span>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-auto text-center me-2">
                            <a
                              href="#"
                              class="badge-dot bg-secondary"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Mark as unread"
                            >
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="border-top px-3 pt-3 pb-0">
                      <a
                        href="../pages/notification-history.html"
                        class="text-link fw-semi-bold"
                        >Ver todas notificações</a
                      >
                    </div>
                  </div>
                </div>
              </li>

              <li class="dropdown ms-2 d-inline-block">
                <a
                  class="rounded-circle"
                  href="#"
                  data-bs-toggle="dropdown"
                  data-bs-display="static"
                  aria-expanded="false"
                >
                  <div class="avatar avatar-md avatar-indicators avatar-online">
                    <img
                      alt="avatar"
                      src="../assets/images/avatar/avatar-7.jpg"
                      class="rounded-circle"
                    />
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <div class="dropdown-item">
                    <div class="d-flex">
                      <div
                        class="avatar avatar-md avatar-indicators avatar-online"
                      >
                        <img
                          alt="avatar"
                          src="../assets/images/avatar/avatar-7.jpg"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="ms-3 lh-1">
                        <h5 class="mb-1">Luísa Almeida</h5>
                        <p class="mb-0 text-muted">natural.art@gmail.com</p>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <ul class="list-unstyled">
                    <li>
                      <a
                        class="dropdown-item"
                        href="../pages/profile-edit.html"
                      >
                        <i class="fe fe-user me-2"></i>Perfil
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="fe fe-settings me-2"></i>Configurações
                      </a>
                    </li>
                  </ul>
                  <div class="dropdown-divider"></div>
                  <ul class="list-unstyled">
                    <li>
                      <a class="dropdown-item" href="../index.html">
                        <i class="fe fe-power me-2"></i>Sair
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <section class="pt-5 pb-5">
        <div class="container">
          <!-- Content -->
          <div class="row mt-0 mt-md-4">
            <!-- Card Left -->
            <div class="col-lg-3 col-md-4 col-12">
              <div class="col-12">
                <!-- Card -->
                <div class="card mb-4 card-hover">
                  <div class="bg-light pb-6 pt-6">
                    <div
                      class="icon-shape icon-xxl position-relative card-img-top"
                    >
                      <span class="position-absolute">
                        <i class="bi bi-image fs-3 text-muted"></i> Alterar
                        imagem de capa</span
                      >
                      <input
                        class="form-control border-0 opacity-0"
                        type="file"
                      />
                    </div>
                  </div>

                  <!-- Card body -->
                  <div class="card-body">
                    <!-- List inline -->
                    <ul class="mb-3 list-inline d-flex justify-content-between">
                      <li class="list-inline-item">
                        <span class="badge bg-dark-soft">
                          <i class="fe fe-bookmark"></i>
                          Outros</span
                        >
                      </li>
                      <li class="list-inline-item">
                        <i class="fe fe-eye"> 0</i>
                      </li>
                    </ul>

                    <h4 class="mb-2 text-truncate-line-2">
                      <a href="course-single.html" class="text-inherit"
                        >Insira o nome do projeto para pré-visualização</a
                      >
                    </h4>

                    <span class="mb-2">Por: Cleber Machado</span>

                    <div class="lh-1 mt-2 mb-2">
                      <span>
                        <i class="mdi mdi-star text-secondary me-n1"></i>
                        <i class="mdi mdi-star text-secondary me-n1"></i>
                        <i class="mdi mdi-star text-secondary me-n1"></i>
                        <i class="mdi mdi-star text-secondary me-n1"></i>
                        <i class="mdi mdi-star text-secondary"></i>
                      </span>
                      <span class="text-secondary">0.0</span>
                      <span class="fs-6 text-muted">(0)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card Right -->
            <div class="col-lg-9 col-md-8 col-12">
              <!-- Dados do Projeto -->
              <div class="card mb-4">
                <!-- Card header -->
                <div class="card-header">
                  <h3 class="mb-0">Dados do Projeto</h3>
                  <p class="mb-0">
                    Cadastre os detalhes do seu projeto de portfólio. As
                    seguintes informações vão permitir que os clientes te
                    encontrem.
                  </p>
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <div>
                    <!-- Form -->
                    <form class="row">
                      <!-- Title -->
                      <div class="mb-3 col-12 col-md-12">
                        <label class="form-label" for="project-title"
                          >Título do projeto</label
                        >
                        <input
                          type="text"
                          id="project-title"
                          class="form-control"
                          placeholder="Insira o nome do projeto"
                          required
                        />
                      </div>
                      <!-- Segment -->
                      <div class="mb-3 col-12 col-md-12">
                        <label class="form-label" for="segment"
                          >Título do projeto</label
                        >
                        <select
                          id="segment"
                          aria-label="Segment select"
                          class="form-select"
                        >
                          <option value="Alimentos e Bebidas" selected>
                            Alimentos e Bebidas
                          </option>
                          <option value="Arte e Decoração">
                            Arte e Decoração
                          </option>
                          <option value="Serviços">Serviços</option>
                          <option value="Eventos e Turismo">
                            Eventos e Turismo
                          </option>
                          <option value="Moda e Estética">
                            Moda e Estética
                          </option>
                          <option value="Tecnologia e Inovação">
                            Tecnologia e Inovação
                          </option>
                          <option value="Saúde">Saúde</option>
                          <option value="Conveniência e Presentes">
                            Conveniência e Presentes
                          </option>
                          <option value="Natureza e Pets">
                            Natureza e Pets
                          </option>
                          <option value="Automóveis">Automóveis</option>
                          <option value="Educação">Educação</option>
                          <option value="Construção e Reforma">
                            Construção e Reforma
                          </option>
                        </select>
                      </div>
                      <!-- Time -->
                      <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="time"
                          >Tempo de Trabalho</label
                        >
                        <input
                          type="number"
                          id="time"
                          class="form-control"
                          placeholder="Em horas"
                          required
                        />
                      </div>
                      <!-- Price -->
                      <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="birth"
                          >Orçamento do projeto</label
                        >
                        <select
                          id="price"
                          aria-label="Price select"
                          class="form-select"
                        >
                          <option value="Baixo">
                            Baixo (Menos de R$ 1.000)
                          </option>
                          <option value="Medio">
                            Médio (De R$ 1.000 a R$ 3.000)
                          </option>
                          <option value="Alto">
                            Alto (De R$ 3.000 a R$ 5.000)
                          </option>
                          <option value="Muito Alto">
                            Muito Alto (Acima de R$ 5.000)
                          </option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- Conteúdo do Projeto -->
              <div class="card mb-4">
                <!-- Card header -->
                <div class="card-header">
                  <h3 class="mb-0">Conteúdo do projeto</h3>
                  <p class="mb-0">
                    Os dados a seguir serão o corpo do projeto. Lembre-se de ser
                    sucinto e de apresentar imagens atraentes e descritivas.
                  </p>
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <div>
                    <!-- Form -->
                    <div class="row">
                      <!-- Article -->
                      <div class="mb-6 col-12 col-md-12">
                        <label class="form-label" for="article">Artigo</label>

                        <!-- Quill Editor -->
                        <div>
                          <div id="editor" class="rounded-0 ">
                          <br ><br ><br ><br ><br >
                          <br ><br ><br ><br ><br >
                        </div>
                      </div>
                        </div>
                        
                    </div>
                  </div>
                </div>
              </div>

              <!-- Button -->
              <div class="col-12 d-flex justify-content-end gap-2">
                <button class="btn btn-secondary">Cancelar</button>
                <button class="btn btn-primary">Publicar</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row align-items-center g-0 border-top py-2">
          <!-- Desc -->
          <div class="col-md-6 col-12 text-center text-md-start">
            <span
              >©
              <span id="copyright">
                <script>
                  document
                    .getElementById("copyright")
                    .appendChild(
                      document.createTextNode(new Date().getFullYear())
                    );
                </script> </span
              >Find Us. Todos Direitos Reservados.</span
            >
          </div>
          <!-- Links -->
          <div class="col-12 col-md-6">
            <nav
              class="nav nav-footer justify-content-center justify-content-md-end"
            >
              <a class="nav-link active ps-0" href="#">Privacy</a>
              <a class="nav-link" href="#">Terms </a>
              <a class="nav-link" href="#">Feedback</a>
              <a class="nav-link" href="#">Support</a>
            </nav>
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="contatarprestador"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Contatar</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"
                  >Escreva uma mensagem para o prestador</label
                >
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="button" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="denunciar"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Denunciar</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <p>
                Sua denúncia será encaminhada para análise. Assim que a
                avaliarmos, lhe encaminharemos um e-mail de resposta.
              </p>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"
                  >Motivo da Denúncia:</label
                >
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="button" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->

    <!-- Libs JS
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.min.js"></script> -->

    <!-- Theme JS
    <script src="../assets/js/theme.min.js"></script>

    <script src="../assets/libs/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="../assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>

    <script src="../assets/js/vendors/tooltip.js"></script>
    <script src="../assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/vendors/popup.js"></script>
    <script src="../assets/libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="../assets/libs/quill/dist/quill.min.js"></script>
    <script src="../assets/js/vendors/editor.js"></script> -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  </body>
</html>
