<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="Larissa e Lucas" content="Codescandy"/>


    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/theme.min.css"/>
    <title>Cadastro | Find Us - Digitalização de Negócios</title>
</head>

<body style="background-color: #FFF;">
<!-- Page content -->
<main>
    <form action="/cadastrarPrestador" method="POST" enctype="multipart/form-data">
        <section class="d-flex no-wrap">
            <!-- Register Content -->
            <div
                    class="row align-items-center justify-content-center g-0 min-vh-100 col-6"
            >
                <div class="col-lg-12">
                    <!-- Card -->
                    <div class="card container" style="box-shadow: none;">
                        <nav class="navbar navbar-expand-lg mb-3">
                            <div class="container-fluid px-0">
                                <a class="navbar-brand" href="./findus-home.html">
                                    <img src="images/logo.svg" alt="" class=""/>
                                </a>
                            </div>
                        </nav>
                        <!-- Card header -->

                        <div class="card-header">
                            <h1 class="mb-1 fw-bold">Seja muito bem-vindo ao Find Us</h1>
                            <span>Fale um pouco sobre você</span>
                        </div>
                        <!-- Card body -->
                        <div class="card-body">

                            <!-- DADOS PESSOAIS -->
                            <div class="row">
                                <h4 class="mb-4">Detalhes Pessoais</h4>
                                <!-- Username -->
                                <div class="mb-3">
                                    <label class="form-label">Nome completo</label>
                                    <input type="text" class="form-control" name="userNome" placeholder="Insira seu nome e sobrenome" required
                                    />
                                </div>
                                <!-- CPF/CNPJ -->
                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label">CPF/CNPJ</label>
                                    <input
                                            type="text"
											name="userCPF_CNPJ"
                                            class="form-control"
                                            placeholder="000.000.000-00"
                                            required
                                    />
                                </div>
                                <!-- Phone -->
                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label">Telefone</label>
                                    <input
                                            class="form-control"
                                            type="phone"
                                            placeholder="(DD) 0 0000-0000"
											name= "userTelefone"
                                            required
                                    />
                                </div>
                                <!-- Email -->
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input
                                            type="email"
                                            class="form-control"
											name="userEmail"
                                            placeholder="example@email.com"
                                            required
                                    />
                                </div>
                                <!-- Phone -->
                                <div class="mb-3 col-12 col-md-6">
                                    <div class="mb-3 password-field">
                                        <label class="form-label">Senha</label>
                                        <input
												name="userSenha"
                                                type="password"
                                                class="form-control mb-2"
                                                placeholder="******"
                                                required
                                        />
                                        <div class="row align-items-center g-0">
                                            <div class="col-6">
                          <span
                                  data-bs-toggle="tooltip"
                                  data-placement="right"
                                  title="Teste digitando uma senha no campo acima. Para atingir força total, use pelo menos 6 caracteres, uma letra maiúscula e um dígito, por exemplo 'Teste01'"
                          >Força da senha
                            <i class="fe fe-help-circle ms-1"></i
                            ></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- E-mail -->
                                <div class="mb-3 col-12 col-md-6">
                                    <label class="form-label">Confirme a senha</label>
                                    <input
                                            id="confirmarSenha"
                                            type="password"
                                            name="confirmpassword"
                                            class="form-control mb-2"
                                            placeholder="******"
                                            required
                                    />
                                </div>
                            </div>

							<div class="mb-3">
								<label class="form-label">Descrição</label>
								<input type="text" class="form-control" name="userDescricao"
									   placeholder="Fale sobre você"
									   required
								/>
							</div>

							<br>

                            <div class="d-lg-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center mb-4 mb-lg-0">
                                    <img src="images/avatar.jpg" id="img-uploaded" class="avatar-xl rounded-circle"
                                         alt="">
                                    <div class="ms-3">
                                        <h4 class="mb-0">Imagem de perfil</h4>
                                    </div>
                                </div>
                                <div>
									<input type="file" name="file" id="file">
                                </div>
                            </div>

                            <hr class="my-4"/>

                            <!-- DADOS DO NEGÓCIO -->
                            <div class="row">
                                <h4 class="mb-4">Detalhes do Negócio</h4>
                                <!-- Business Segment -->
                                <div class="mb-6 col-12 col-md-12">
                                    <label class="form-label">Profissão</label>
                                    <select name="userSegmento" aria-label="Segment select" class="form-select">
                                        <option value="Desenvolvimento WEB" selected>
                                            Desenvolvedor WEB
                                        </option>
                                        <option value="Desenvolvimento Mobile">
                                            Desenvolvedor Mobile
                                        </option>
                                        <option value="Analista de Marketing">Analista de Marketing</option>
                                        <option value="Consultoria de Marketing">
                                            Consultor de Marketing
                                        </option>
                                        <option value="Designer">
                                            Designer
                                        </option>
                                        <option value="Outro">
                                            Outro
                                        </option>
                                    </select>
                                </div>
								<input type="hidden" name = "userTipo" value="prestador">
                                <div>
                                    <!-- Button -->
                                    <div class="d-grid">
                                        <div th:if="${error != null}" th:text="${error}" class="alert alert-danger" role="alert"></div>
                                        <button type="submit" class="btn btn-primary">
                                            Criar Conta
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image -->
            <div class="col-6 d-flex align-items-end justify-content-end">
                <img src="images/register-prest.svg"
                     class="" style="height: 95vh; max-height: 100%;">
            </div>
        </section>
    </form>
</main>
<!-- Scripts -->
<!-- Libs JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Theme JS -->
<script src="/js/theme.min.js"></script>

<!-- Customizações -->
<script src="js/validarSenha.js"></script>
</body>
</html>
