<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Codescandy" />

    <!-- Theme CSS-->
    <link rel="stylesheet" href="../css/theme.min.css" />

    <title>Seu Perfil | Find Us - Digitalização de Negócios</title>
  </head>

  <header>
    <div class="navbar shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <img src="../images/logo.svg" class="dark-logo" alt="Logo FindUs" />
        </a>
      </div>
    </div>
  </header>

  <body style=" background-color: #f5f5f3;
        background-image: url(../assets/images/background/background.svg);
        background-repeat: repeat;
        background-size: contain;" >
    <main>
      <section class="pt-5 pb-5">
        <div class="container">
          <div class="row mt-0 mt-md-4">
            <div class="col-lg-9 col-md-8 col-12" style="margin:0 auto;">
              <div class="card mb-4">
                <div class="card-header">
                  <h3 class="mb-0">Dados do Projeto</h3>
                  <p class="mb-0">
                    Cadastre os detalhes do seu projeto de portfólio. As
                    seguintes informações vão permitir que os clientes te
                    encontrem.
                  </p>
                </div>
                <div class="card-body">
                  <div>
                    <!-- Form -->
                    <form class="row" action="/cadastrarProjeto" method="POST" enctype="multipart/form-data">
                      <!-- Title -->
                      <input type="hidden" name="prestID" th:value="${identPrest}">

                      <div class="mb-3 col-12 col-md-12">
                        <label class="form-label" for="portTituloPrj">Título do projeto</label>
                        <input type="text" id="portTituloPrj" name="portTituloPrj" class="form-control" placeholder="Insira o nome do projeto" required />
                      </div>
                      <!-- Segment -->
                      <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="portSegmento">Segmento</label>
                        <select id="portSegmento" name="portSegmento" aria-label="Segment select" class="form-select">
                          <option value="Alimentos e Bebidas" selected>
                            Alimentos e Bebidas
                          </option>
                          <option value="Arte e Decoração">
                            Arte e Decoração
                          </option>
                          <option value="Serviços">Serviços</option>
                          <option value="Eventos e Turismo">
                            Eventos e Turismo
                          </option>
                          <option value="Moda e Estética">
                            Moda e Estética
                          </option>
                          <option value="Tecnologia e Inovação">
                            Tecnologia e Inovação
                          </option>
                          <option value="Saúde">Saúde</option>
                          <option value="Conveniência e Presentes">
                            Conveniência e Presentes
                          </option>
                          <option value="Natureza e Pets">
                            Natureza e Pets
                          </option>
                          <option value="Automóveis">Automóveis</option>
                          <option value="Educação">Educação</option>
                          <option value="Construção e Reforma">
                            Construção e Reforma
                          </option>
                        </select>
                      </div>
                      <div class="mb-3 col-12 col-md-6">
                        <label class="form-label">Imagem</label>
                        <input type="file" name="foto" id="foto" class="form-control" required>
                      </div>



                      <!-- Time -->
                      <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="portTempo">Tempo de Trabalho</label>
                        <input type="number" id="portTempo" name="portTempo" class="form-control" placeholder="Em horas" required/>
                      </div>
                      <!-- Price -->
                      <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="portOrcamento">Orçamento do projeto</label>
                        <select id="portOrcamento" name="portOrcamento" aria-label="Price select" class="form-select">
                          <option value="Baixo">
                            Baixo (Menos de R$ 1.000)
                          </option>
                          <option value="Medio">
                            Médio (De R$ 1.000 a R$ 3.000)
                          </option>
                          <option value="Alto">
                            Alto (De R$ 3.000 a R$ 5.000)
                          </option>
                          <option value="Muito Alto">
                            Muito Alto (Acima de R$ 5.000)
                          </option>
                        </select>
                      </div>

                      <div class="mb-3 col-12 col-md-12">
                        <label class="form-label" for="portDescricao">Descrição do projeto</label>
                        <textarea type="text" id="portDescricao" name="portDescricao" class="form-control" placeholder="Insira a descrição do projeto" required></textarea>
                      </div>

                      <div class="col-12 d-flex justify-content-end gap-2">
                        <!--<button class="btn btn-secondary">Cancelar</button>-->
                        <button type="submit" class="btn btn-primary">Publicar</button>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
