<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Find Us</title>
	<meta name="author" content="tempload" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<link href="css/owl.theme.default.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

	<!-- ***** Loader Start ***** -->
	<div id="loader">
		<div class="loader"></div>
	</div>
	<!-- ***** Loader End ***** -->


	<!-- ***** Header Area Start ***** -->
	<header class="header-area light-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="index-2.html" class="logo">
							<img src="images/logo.svg" class="dark-logo" alt="Lavinya" />
							<img src="images/logo-white.svg" class="light-logo" alt="Lavinya" />
						</a>
						<!-- ***** Logo End ***** -->



						<!-- ***** Header Buttons Start ***** -->
						<ul class="header-buttons">
							<li><a class="btn-nav-line" href="login-c.html" style="border: none;">Login</a></li>
							<li><a class="btn-nav-primary" href="#">Divulgar</a></li>
							<li><a class="btn-nav-primary" href="#"
									style="background-color: #FF8E66; border: #FF8E66; color: white;">Contratar</a>
							</li>
						</ul>
						<!-- ***** Header Buttons End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->


	<!-- ***** Welcome Area Start ***** -->
	<div class="welcome-area-two" id="welcome">
		<div class="bg">
			<img src="images/welcome-bg-two.svg" alt="" class="img-fluid">
		</div>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-12 align-self-center">
						<div class="text">
							<h1>Conecte-se, colabore e e desenvolva seu negócio</h1>
							<p>Encontre os profissionais ideais para transformar seu negócio físico em virtual!</p>
							<a href="#">Contratar -></a>
						</div>
					</div>
					<div class="offset-lg-1 offset-md-1 col-lg-6 col-md-6 col-sm-12 align-self-center">
						<div class="player" style="box-shadow: none;">
							<img src="images/photos/screen/1.jpg" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ***** Welcome Area End ***** -->





	<!-- ***** Pricing Plans Start ***** -->
	<section class="section" id="pricing-plans">
		<div class="container">
			<!-- ***** Section Title Start ***** -->
			<div class="row">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">Pricing Plans</h2>
					</div>
				</div>
				<div class="offset-lg-3 col-lg-6">
					<div class="center-text">
						<p>Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis
							congue risus.</p>
					</div>
				</div>
			</div>
			<!-- ***** Section Title End ***** -->

			<div class="row">
				<!-- ***** Pricing Item Start ***** -->
				<div class="col-lg-4 col-md-6 col-sm-12"
					data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
					<div class="pricing-item">
						<div class="pricing-header">
							<h3 class="pricing-title">BASIC PLAN</h3>
						</div>
						<div class="pricing-body">
							<div class="price-wrapper">
								<span class="currency">$</span>
								<span class="price">13.90</span>
								<span class="period">/Month</span>
							</div>
							<ul class="list">
								<li class="active">Unlimited Website</li>
								<li class="active">Unlimited Users</li>
								<li class="active">5 GB Bandwidth</li>
								<li class="active">Highest Speed</li>
								<li>Data Security and Backups</li>
								<li>1 GB Storage</li>
								<li>24x7 Great Support</li>
								<li>Monthly Reports and Analytics</li>
							</ul>
						</div>
						<div class="pricing-footer">
							<a href="#">SELECT PLAN</a>
						</div>
					</div>
				</div>
				<!-- ***** Pricing Item End ***** -->

				<!-- ***** Pricing Item Start ***** -->
				<div class="col-lg-4 col-md-6 col-sm-12"
					data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
					<div class="pricing-item active">
						<div class="pricing-header">
							<h3 class="pricing-title">ADVANCED PLAN</h3>
						</div>
						<div class="pricing-body">
							<div class="price-wrapper">
								<span class="currency">$</span>
								<span class="price">23.90</span>
								<span class="period">/Month</span>
							</div>
							<ul class="list">
								<li class="active">Unlimited Website</li>
								<li class="active">Unlimited Users</li>
								<li class="active">5 GB Bandwidth</li>
								<li class="active">Highest Speed</li>
								<li class="active">Data Security and Backups</li>
								<li class="active">1 GB Storage</li>
								<li>24x7 Great Support</li>
								<li>Monthly Reports and Analytics</li>
							</ul>
						</div>
						<div class="pricing-footer">
							<a href="#">SELECT PLAN</a>
						</div>
					</div>
				</div>
				<!-- ***** Pricing Item End ***** -->

				<!-- ***** Pricing Item Start ***** -->
				<div class="col-lg-4 col-md-6 col-sm-12"
					data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
					<div class="pricing-item">
						<div class="pricing-header">
							<h3 class="pricing-title">EXPERT PLAN</h3>
						</div>
						<div class="pricing-body">
							<div class="price-wrapper">
								<span class="currency">$</span>
								<span class="price">33.90</span>
								<span class="period">/Month</span>
							</div>
							<ul class="list">
								<li class="active">Unlimited Website</li>
								<li class="active">Unlimited Users</li>
								<li class="active">5 GB Bandwidth</li>
								<li class="active">Highest Speed</li>
								<li class="active">Data Security and Backups</li>
								<li class="active">1 GB Storage</li>
								<li class="active">24x7 Great Support</li>
								<li class="active">Monthly Reports and Analytics</li>
							</ul>
						</div>
						<div class="pricing-footer">
							<a href="#">SELECT PLAN</a>
						</div>
					</div>
				</div>
				<!-- ***** Pricing Item End ***** -->
			</div>
		</div>
	</section>
	<!-- ***** Pricing Plans End ***** -->


	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<img src="images/logo-white.svg" class="logo" alt="">
					<div class="text">Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a
						feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</div>
					<ul class="social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h5>Helpful Links</h5>
					<ul class="footer-nav">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>About Us</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Features</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>FAQ’s</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Blog</span></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h5>Support</h5>
					<ul class="footer-nav">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Privacy Policy</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Terms of Use</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Support Center</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Contact</span></a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h5>Contact Us</h5>
					<div class="address">
						<p>455 West Orchard Street<br>Kings Mountain, NC 28086</p>
						<p>Phone: (272) 211-7370</p>
						<p><span>E-Mail:</span><a href="#">support@yourbrand.com</a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright">© 2023 Find Us. Todos direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- ***** Footer End ***** -->



	<!-- jQuery -->
	<script src="js/jquery-2.1.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="js/scrollreveal.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/imgfix.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>

	<!-- Global Init -->
	<script src="js/custom.js"></script>
</body>

</html>