<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Find Us</title>
	<meta name="author" content="tempload" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<link href="css/owl.theme.default.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

	<!-- ***** Loader Start ***** -->
	<div id="loader">
		<div class="loader"></div>
	</div>
	<!-- ***** Loader End ***** -->

	<!-- ***** Header Area Start ***** -->
	<header class="header-area light-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a th:href="@{/}" class="logo">
							<img src="images/logo.svg" class="dark-logo" alt="Logo FindUs" />
							<img src="images/logo-white.svg" class="light-logo" alt="Logo FindUs" />
						</a>
						<!-- ***** Logo End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->


	<!-- ***** Welcome Area Start ***** -->
	<form action="/cadastroCliente" method="POST" >

		<div class="container" id="login">
			<div class="row">
				<div class="col-lg-6 mobile-bottom-fix align-self-center">
					<br><br><br><br>
					<h2>Seja muito bem-vindo ao FindUs</h2>
					<h5>Fale um pouco sobre você</h5>
					<br>
					<div class="contact-form">
						<div class="row">
							<div class="col-lg-12">
								<label>Nome completo</label>
								<input type="text" name="userNome" placeholder="Insira aqui seu nome e sobrenome">
							</div>

							<div class="col-lg-6 col-md-12 col-sm-12">
								<label>CPF/CNPJ</label>
								<input type="number" name="userCPF_CNPJ" placeholder="000.000.000-00">
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12">
								<label>Telefone</label>
								<input type="tel" name= "userTelefone" placeholder="(DD) 0 0000-0000">
							</div>

							<div class="col-lg-12">
								<label>E-mail</label>
								<input type="email" name="userEmail" placeholder="Insira aqui seu e-mail">
							</div>

							<div class="col-lg-6 col-md-12 col-sm-12">
								<label>Senha</label>
								<input type="password"  name="userSenha" id="userSenha" placeholder="Insira aqui sua senha">
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12">
								<label>Confirme a senha</label>
								<input type="password" name="confirmarSenha" id="confirmarSenha"  placeholder="Insira novamente sua senha" required>
							</div>

							<br>

							<div class="col-lg-12">
								<label> <p>Serviço desejado:</p></label>
								<select name="userSegmento" id="segments">
									<option value="alimentos">Alimentos no geral</option>
									<option value="moda">Moda</option>
									<option value="eventos">Eventos e viagens</option>
									<option value="estetica">Estética e cuidados pessoais</option>
									<option value="tecnologia">Tecnologia</option>
									<option value="infantil">Infantil</option>
									<option value="natureza">Produtos naturais e agricultura</option>
								</select>
							</div>
							<input type="hidden" name = "userTipo" value="cliente">
						</div>
					</div>

					<input type="checkbox" class="checkbox"><span class="checkmark"></span>
					<label class="check-container">
						Li e concordo com o <a href="#" data-toggle="modal" data-target="#myModal">termo de aceite.</a>
					</label>

					<button type="submit" id="cadastrar" class="primary-btn" style="width: 100%;">Cadastrar</button>

					<div style="align-items: center;">
						<br>
						<p>Já possui uma conta? <a th:href="@{/login}">Faça o login</a></p>
					</div>

				</div>

				<div class="col-lg-6 mobile-bottom-fix align-self-center">
					<img src="images/photos/screen/1.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>

	</form>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="myModalLabel">Termos de uso do site.</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<p>Ao utilizar a Plataforma, o usuário reconhece e aceita todas as condições descritas neste termo.
						Caso o usuário não concorde com algum dos termos descritos, deverá se abster de utilizar a plataforma findUs. </p>

					<h4><b>Objetivo</b></h4>
					<p>O objetivo da Plataforma é conectar empreendedores que desejam digitalizar seus negócios com profissionais qualificados para essa finalidade.</p>

					<h4><b>Responsabilidades</b></h4>
					<p>A Plataforma age apenas como intermediária no contato entre os usuários,
						não tendo responsabilidade sobre as negociações e acordos firmados entre as partes. </p>
					<p>A Plataforma não se responsabiliza pela veracidade das informações fornecidas pelos usuários
						e não tem obrigação de fiscalizar ou controlar as informações postadas. </p>


					<h4><b>Medidas de segurança</b></h4>
					<p>A Plataforma disponibiliza a opção de denúncia por parte dos usuários para garantir que o conteúdo presente na plataforma esteja
						em conformidade com os termos de utilização e evitando golpes.
						Todo conteúdo recebido pelo suporte será avaliado para a tomada de ações corretivas de acordo com o tipo e gravidade da denúncia.</p>

					<p>A Plataforma reserva-se o direito de modificar, a qualquer momento, os termos de uso aqui descritos,
						visando aprimorar o sistema e melhorar a experiência do usuário.</p>

				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="js/jquery-2.1.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="js/scrollreveal.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/imgfix.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>

	<!-- Global Init -->
	<script src="js/custom.js"></script>

    <!-- Customizações -->
	<script src="js/validarSenha.js"></script>

	<!-- Adicionar o arquivo JavaScript do jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Adicionar o arquivo JavaScript do Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</body>

</html>