<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Find Us</title>
	<meta name="author" content="tempload" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<link href="css/owl.theme.default.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

	<!-- ***** Loader Start ***** -->
	<div id="loader">
		<div class="loader"></div>
	</div>
	<!-- ***** Loader End ***** -->


	<!-- ***** Header Area Start ***** -->
	<header class="header-area light-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="index.html" class="logo">
							<img src="images/logo.svg" class="dark-logo" alt="Logo FindUs" />
							<img src="images/logo-white.svg" class="light-logo" alt="Logo FindUs" />
						</a>
						<!-- ***** Logo End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->


	<!-- ***** Welcome Area Start ***** -->
	<div class="container" id="login">
		<div class="row">
			<div class="col-lg-6 mobile-bottom-fix align-self-center">
				<br><br><br><br>
				<h2>Seja muito bem-vindo ao FindUs</h2>
				<h5>Fale um pouco sobre você</h5>
				<br>
				<div class="contact-form">
					<div class="row">
						<div class="col-lg-12">
							<label>Nome completo</label>
							<input type="text" placeholder="Insira aqui seu nome e sobrenome">
						</div>

						<div class="col-lg-6 col-md-12 col-sm-12">
							<label>CPF/CNPJ</label>
							<input type="number" placeholder="000.000.000-00">
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12">
							<label>Telefone</label>
							<input type="tel" placeholder="(DD) 0 0000-0000">
						</div>

						<div class="col-lg-12">
							<label>E-mail</label>
							<input type="text" placeholder="Insira aqui seu e-mail">
						</div>

						<div class="col-lg-6 col-md-12 col-sm-12">
							<label>Senha</label>
							<input type="password" placeholder="Insira aqui sua senha">
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12">
							<label>Confirme a senha</label>
							<input type="password" placeholder="Insira novamente sua senha">
						</div>

						<br>

						<div class="col-lg-12">
							<label>Nome do negócio</label>
							<input type="text" placeholder="Insira o nome do seu negócio">
						</div>
						<div class="col-lg-12">
							<label>Segmentos</label>
							<select name="segmento" id="segments">
								<option value="alimentos">Alimentos no geral</option>
								<option value="moda">Moda</option>
								<option value="eventos">Eventos e viagens</option>
								<option value="estetica">Estética e cuidados pessoais</option>
								<option value="tecnologia">Tecnologia</option>
								<option value="infantil">Infantil</option>
								<option value="natureza">Produtos naturais e agricultura</option>
							</select>
						</div>


						<div class="col-lg-12">
							<br><br>
							<button class="primary-btn" style="width: 100%;">Continuar</button>
						</div>
						<div class="col-lg-12" style="align-items: center;">
							<br>
							<p>Já possui uma conta? <a href="login-c.html">Faça o login</a></p>
						</div>
					</div>
				</div>

				<br><br><br>
				<div class="row">
					<p>Você já sabe os serviços necessários para digitalizar seu negócio?
						Caso ainda não saiba, lhe preparamos um teste rápido para descobrir.</p>
					<button class="primary-btn" style="width: 100%;">Escolher serviços</button>
					<br>
					<button class="primary-btn" style="width: 100%;">Fazer o teste</button>
				</div>

				<br><br><br>
				<div class="row">
					<p>Escolha os serviços que deseja contratar:</p>
					<br>
					<div class="row">
						<button class="secondary-btn" style="width: 150px; height: 150px; margin:15px;">Site</button>
						<button class="secondary-btn"
							style="width: 150px; height: 150px; margin:15px;">Marketplace</button>
						<button class="secondary-btn" style="width: 150px; height: 150px; margin:15px;">Redes
							Sociais</button>
						<button class="secondary-btn" style="width: 150px; height: 150px; margin:15px;">Consultoria de
							Marketing</button>
						<button class="secondary-btn" style="width: 150px; height: 150px; margin:15px;">Identidade
							Visual</button>
						<button class="secondary-btn"
							style="width: 150px; height: 150px; margin:15px;">Re-Design</button>
					</div>
				</div>
			</div>

			<div class="col-lg-6 mobile-bottom-fix align-self-center">
				<img src="images/photos/screen/1.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
	<!-- ***** Welcome Area End ***** -->


	<!-- jQuery -->
	<script src="js/jquery-2.1.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="js/scrollreveal.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/imgfix.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>

	<!-- Global Init -->
	<script src="js/custom.js"></script>
</body>

</html>