<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Larissa e Lucas">

    <link rel="stylesheet" href="/css/theme.min.css">
    <title>Contatar | Find Us - Digitalização de Negócios </title>

</head>

<body style="
background-color: #f5f5f3;
background-image: url(../images/background.svg);
background-repeat: repeat;
background-size: contain;
">

<main>
    <section class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center g-0 min-vh-100">

            <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                <div class="card shadow ">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Contatar</h4>
                    </div>
                    <div class="card-body ">
                        <form action="/enviar-email" method="POST">
                            <p id="time">

                            </p>
                            <div class="mb-4">
                                <label for="message-text" class="col-form-label">Escreva uma mensagem para o
                                    prestador</label>
                                <textarea class="form-control" id="message-text" name="corpo"></textarea>
                            </div>
                            <!-- Username -->
                            <div class="mb-3">
                                <label for="email" class="form-label">E-mail para contato</label>
                                <input type="text" id="email" class="form-control" name="emailCliente"
                                       placeholder="exemplo@email.com"
                                       th:value="${cliente.userEmail}" required>
                            </div>
                            <!-- Password -->
                            <div class="mb-3">
                                <label for="phone" class="form-label">Telefone para contato </label>
                                <input type="text" id="phone" class="form-control" name="telefoneCliente"
                                       placeholder="(xx) xxxxx-xxxx"
                                       th:value="${cliente.userTelefone}" required>
                            </div>
                            <!-- Button -->

                            <input type="hidden" name="idCliente" th:value="${cliente.userID}">
                            <input type="hidden" name="nomeCliente" th:value="${cliente.userNome}">
                            <input type="hidden" name="idPrestador" th:value="${prestador.userID}">
                            <input type="hidden" name="nomePrestador" th:value="${prestador.userNome}">
                            <div class="modal-footer gap-2">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                                </button>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<!-- Time -->
<script>
  let time = document.getElementById('time');
  const fullDate = new Date();

  const day = fullDate.toLocaleString("pt-BR", { weekday: "long" });
  const formatedWeekDay = day.charAt(0).toUpperCase() + day.slice(1);
  const formatedDay = `${fullDate.getDay()}/${fullDate.getMonth()}/${fullDate.getUTCFullYear()}`;

  const hours = String(fullDate.getHours()).padStart(2, "0");
  const minutes = String(fullDate.getMinutes()).padStart(2, "0");
  const fullTime = `${hours}:${minutes}`;

  time.textContent = `${formatedWeekDay}, ${formatedDay} -  ${fullTime}.`;;




</script>

</body>

</html>