<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="Larissa e Lucas" content="Codescandy">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/theme.min.css">
    <title>Denuncia | Find Us - Digitalização de Negócios </title>
</head>

<body style="
background-color: #f5f5f3;
background-image: url(../assets/images/background/background.svg);
background-repeat: repeat;
background-size: contain;
">

<main>
    <section class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center g-0 min-vh-100">
            <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                <div class="card shadow ">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Denunciar</h4>
                    </div>
                    <div class="card-body ">
                        <form action="/enviar-denuncia-prestador" method="POST">
                            <div class="mb-4">

                              <input type="hidden" name="idUsuario" th:value="${usuario.userID}">
                              <input type="hidden" name="idDenunciado" th:value="${denunciado.userID}">

                                <label for="message-text" class="col-form-label">Motivo da Denúncia:</label>
                                <textarea class="form-control" id="message-text" name="corpo"></textarea>
                                <p>Sua denúncia será encaminhada para análise. Assim que a avaliarmos, lhe
                                    encaminharemos um e-mail de resposta.</p>
                            </div>
                            <div class="modal-footer gap-2">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Scripts -->
<!-- Libs JS -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>


<!-- Theme JS -->
<script src="../assets/js/theme.min.js"></script>


<!-- Time -->
<script>
  let time = document.getElementById('time');
  const fullDate = new Date();

  const day = fullDate.toLocaleString("pt-BR", { weekday: "long" });
  const formatedWeekDay = day.charAt(0).toUpperCase() + day.slice(1);
  const formatedDay = `${fullDate.getDay()}/${fullDate.getMonth()}/${fullDate.getUTCFullYear()}`;

  const hours = String(fullDate.getHours()).padStart(2, "0");
  const minutes = String(fullDate.getMinutes()).padStart(2, "0");
  const fullTime = `${hours}:${minutes}`;

  time.textContent = `${formatedWeekDay}, ${formatedDay} -  ${fullTime}.`;;

</script>

</body>

</html>